<% content_for :title, "Devlog by @#{@post.user&.display_name}" %>
<% content_for :og_title, "@#{@post.user&.display_name} on #{@project.title} | Stardance" %>
<% content_for :og_description, truncate(@devlog.body.to_s, length: 200) %>
<%
  og_first_image = @devlog.attachments.find { |a| a.image? }
  if og_first_image
    content_for :og_image, url_for(og_first_image.variant(:large))
    content_for :twitter_card, "summary_large_image"
  end
%>

<div class="app-layout">
  <main class="app-layout__main devlog-detail" aria-label="Devlog">
    <nav class="devlog-detail__back" aria-label="Back">
      <%= link_to project_path(@project), class: "devlog-detail__back-link" do %>
        <%= inline_svg_tag "icons/chevron-down.svg", class: "devlog-detail__back-arrow", aria: { hidden: true } %>
        <span>Back to <%= @project.title %></span>
      <% end %>
    </nav>

    <div class="devlog-detail__thread">
      <article class="devlog-detail__post">
        <%= render Posts::CardComponent.new(
              post: @post,
              current_user: current_user,
              show_comments: false,
              show_actions: current_user.present?
            ) %>
      </article>

      <%= render "projects/devlogs/comments_section" %>
    </div>
  </main>

  <%= render DiscoverRailComponent.new %>
</div>
